PROJECT_NAME=thelaboratory

###################
### ENVIRONMENT ###
###################
# Project environment, values can be "local" or "production"
ENV=local

# CI environment, values can be "develop", "staging" or "main" (or the name of a branch you want to deploy on)
CI_ENV=local

# If you need a specific container for staging but not for production, you can change the PROJECT_ENV instead of the ENV
PROJECT_ENV=${ENV}

###################
### DOCKER ########
###################
# Docker Compose custom tools
COMPOSE_PROJECT_DEFAULT_DIR=containers
COMPOSE_PROJECT_ENV_DIR=${COMPOSE_PROJECT_DEFAULT_DIR}/${PROJECT_ENV}

# Aliases
CPD=${COMPOSE_PROJECT_DEFAULT_DIR}
CPE=${COMPOSE_PROJECT_ENV_DIR}

# Docker Compose variables
COMPOSE_PROJECT_NAME=${PROJECT_NAME}
COMPOSE_PROFILES=${PROJECT_ENV}
COMPOSE_PATH_SEPARATOR=;

# List files to start with
COMPOSE_FILES_BY_DEF=${CPD}/orchestrator.yml;${CPD}/platform.yml;${CPD}/database.yml;${CPD}/database_administration.yml;${CPD}/mailing.yml
COMPOSE_FILES_BY_ENV=${CPE}/orchestrator.yml;${CPE}/platform.yml
COMPOSE_FILE=${COMPOSE_FILES_BY_DEF};${COMPOSE_FILES_BY_ENV}

###################
### GLOBAL ########
###################
DOMAIN=${PROJECT_NAME}.localhost
DEBUG=1
NODE_ENV=development
HTTP_PROTOCOL=http
ACME_EMAIL=contact@${DOMAIN}
LETS_ENCRYPT_SERVER=https://acme-staging-v02.api.letsencrypt.org/directory

###################
### LARAVEL #######
###################
APP_NAME="Project Boilerplate"
SANCTUM_STATEFUL_DOMAINS=${DOMAIN}
CORS_ALLOWED_ORIGINS=${HTTP_PROTOCOL}://${DOMAIN}

###################
### MAILING #######
###################
# MailHog is used for development & staging and does not need a MAIL_USERNAME/PASSWORD but they will be needed for production
MAIL_MAILER=smtp
MAIL_HOST=mailing
MAIL_PORT=1025
MAIL_ENCRYPTION=''
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=no-reply@${PROJECT_NAME}.localhost
MAIL_FROM_NAME=${APP_NAME}
MAIL_VERIFY_PEER=true

###################
### DATABASE ######
###################
DATABASE_NAME=${PROJECT_NAME}
DATABASE_USER=${PROJECT_NAME}
DATABASE_PASSWORD=${PROJECT_NAME}
DATABASE_ROOT_PASSWORD=${PROJECT_NAME}

################################
############ GRADES ############
################################
ACCESS_PLAN_FREE_GRADE=start,smart,premium
TOKEN_BALANCE_FREE_GRADE=min:0,max:5000
CASHBACK_FREE_GRADE=0.5,2.5,4
EFFICIENCY_FREE_GRADE=1,1.5,2

ACCESS_PLAN_FIRST_GRADE=start,smart,premium
TOKEN_BALANCE_FIRST_GRADE=min:5000,max:10000
CASHBACK_FIRST_GRADE=1,3,4.5
EFFICIENCY_FIRST_GRADE=1.1,1.65,2.2

ACCESS_PLAN_SECOND_GRADE=smart,premium
TOKEN_BALANCE_SECOND_GRADE=min:10000,max:20000
CASHBACK_SECOND_GRADE=4,5.5
EFFICIENCY_SECOND_GRADE=1.8,2.4

ACCESS_PLAN_THIRD_GRADE=premium
TOKEN_BALANCE_THIRD_GRADE=min:20000
CASHBACK_THIRD_GRADE=7
EFFICIENCY_THIRD_GRADE=2.8